
@media screen and (max-width:670px){
.navbar{
      background-color: #fff;
      z-index: 2;
    }
.nav-link{
    color:black;
    font-size:15px;
   }
.nav-link:hover{
    color:greenyellow;
   }
 .btns{
    color: black;
    font-size:15px ;
   } 
.text-container h1{
    font-size:30px;
}   
.main{
    background-position:center top; 
} 
.main-2{
    display: flex;
    flex-wrap: wrap;
    flex-direction:row;
}
.para2{
    margin-top:20px;
    margin-left:25px;
}
.coff{
    display:flex;
    flex-direction: row;
}
.coff img{
    width:300px;
    height: auto;
}
.one{
    margin: 20px;
}
/* 3 */
.para-three-1 p{
    margin:15px;
}
.add-1{
    margin-bottom:15px;
}
.small{
    margin-top:50px;
}
.small h3,p{
    font-size:15px;
}
.po-d-1 img{
    left:250px;
    bottom:-40px ;
    width:200px;
}
.float{
    margin-top:30px;
}
.add-2{
    margin: 10px 0px;
}
.container-five{
    background-position:center;
}
.small-1{
   margin:20px;
   margin-left:30px ; 
}
.hedfive h3{
  font-size:20px;    
}
/* 6 */
.p-six h2{
  font-size:25px;
}
.center-six{
  margin:40px;
}
.center-six p{
   font-size:20px; 
   padding:10px;
}
.six-im img{
    width: 100px;
    left:180px;
}
/* 3 */
.ppp{
    width:250px;
    top:1150px;
}
/* 7 */
.cu{
  width:80px;
  left:275px; 
  top:-1380px; 
}
.posi-seev{
    display: flex;
    justify-content: center;
    align-items: center;
    left: 100px;
    /* flex-direction:row; */
}
.in{
   margin-right:70px; 
}
}
